<a href="https://colab.research.google.com/github/alxbruno/python_lessons/blob/main/Colab/challenges01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Challenge 001

In [ ]:
x=input("Enter username: ")
y="Hello "
print(y+x)

Enter first name and surname: Alex Bruno
Hello Alex Bruno

In [ ]:
x=input("Enter username: ")
print("Hello "+x)

Enter username: zaza
Hello zaza

Challenge 002

In [ ]:
x=input("What is your first name: ")
y=input("What is your surname: ")
print("Hello " + x + " " + y)

What is your first name: Alex
what is your surname: Bruno
Hello Alex Bruno

Challenge 003

In [ ]:
print("What do you call a bear with no teeth \n a gummy bear!")

what do you call a bear with no teeth
 a gummy bear!

Challenge 004

I created a variable called x and had a user choose a random number and put the random number in x

I created a variable called y and had a user choose a random number and put the random number in y

In [ ]:
x=int(input("Enter a number: "))
y=int(input("Enter a number: "))
print("The total is ")
print(x+y)

enter a number: 30
enter a number: 11
The total is
41

In [ ]:
x=int(input("Enter a number: "))
y=int(input("Enter a number: "))
z = x+y
print("The total is\n", z)

enter a number: 4
enter a number: 5
The total is
 9

challenge 005

In [ ]:
x=int(input("Enter a number: "))
y=int(input("Enter a number: "))
z=int(input("Enter a number: "))
print("The answer is")
c=(x+y)*z
print(c)

enter a number: 123
enter a number: 23
enter a number: 14
The answer is

2044

In [ ]:
x=int(input("Enter a number: "))
y=int(input("Enter a number: "))
z=int(input("Enter a number: "))
c=(x+y)*z
print("The answer is\n", c)

enter a number: 3
enter a number: 2
enter a number: 2
The answer is
 10

challenge 006

In [ ]:
x=int(input("How many pizza slices do you have "))
y=int(input("How many pizza slices have you eaten "))
(x-y)

how many pizza slices do you have 3
how many pizza slices have you eaten 1

2

Challenge 7

In [ ]:
x=str(input("Whats your name :"))
y=int(input("How old are you :"))
print("On your next birthday you will be")
(y+1)

whats your name :Raqueline
how old are you :47
on your next birthday you will be

48

Challenge 008

In [ ]:
x=int(input("Whats the total price of the bill? "))
y=int(input("How many diners are there? "))
print("This is how much each person has to pay ")
(x/y)

Whats the total price of the bill? 500
How many diners are there? 24
This is how much each person has to pay

20.833333333333332

Challenge 009

In [ ]:
x=int(input("Choose a random amount of days "))
H=24
print("There are this amount of hours")
print(H*x)
M=1440
print("There are this many minutes")
print(M*x)
S=86400
print("There are this amount of seconds")
print(S*x)

Choose a random amount of days 1
There are this amount of hours
24
There are this many minutes
1440
There are this amount of seconds
86400

challenge 010

In [ ]:
x=int(input("Choose a random amount of kilograms "))
K=2204
print("There are this many pounds in that amount of kilograms")
print(K*x)

Choose a random amount of kilograms 1
There are this many pounds in that amount of kilograms
2204

Challenge 011

In [ ]:
x=int(input("Choose a number above 100 "))
y=int(input("Choose a number under 10 "))
print("That number under 10 goes in the number bigger than 100 this many times ")
print(x//y)

Choose a number above 100 110
Choose a number under 10 9
That number under 10 goes in the number bigger than 100 this many times
12

Lesson 1

In [ ]:
num1=90
if num1>10:
  print("This is over 10")
elif num1==10:
  print("This is equal to 10")
else:
  print("this is under 10")

This is over 10

Challenge 012

In [ ]:
n1=int(input("Please enter a number :"))
n2=int(input("Please enter a number :"))
if n1>n2:
  print(n1,n2)
elif n2>n1:
  print(n2,n1)

Please enter a number :5
Please enter a number :7
7 5

Challenge 013

In [ ]:
x=int(input("Please enter a number lower than 20 "))
y=20
if x<y:
  print("Thank you")
elif x>y:
  print("Too high")

Please enter a number lower than 20 12
Thank you

Challenge 014

In [ ]:
x=int(input("Please enter number within a range of 10 and 20 "))
y=20
z=10
if x>y:
  print("Incorrect answer")
elif z<x:
  print("Thank you")
elif z<x>y:
  print("Thank you")
elif z>x:
  print("Incorrect answer")

Please enter number within a range of 10 and 20 12
Thank you

Challenge 015

In [6]:
colour=input("type your favourite colour: ")
if colour=="red" or colour=="RED" or colour=="Red":
  print("I like red too")
else:
  print("I dont like that colour I prefer red")

type your favourite colour: green
I dont like that colour I prefer red

Challenge 016

In [2]:
raining=input("is it raining? :")
raining=str.lower(raining)
if raining=="yes":
  windy=input("is it windy? ")
  windy=str.lower(windy)
  if windy=="yes":
    print("It is too windy for an umbrella.")
  else:
    print("Take an umbrella")
else:
  print("Enjoy your day")

is it raining? :yes
is it windy? no
Take an umbrella

Challenge 017

In [6]:
age=int(input("What is your age? "))
if age>=18:
  print("You can vote")
elif age==17:
  print("You can learn how to drive")
elif age==16:
  print("You can buy a lottery ticket")
else:
  print("You can go trick or treating")

What is your age? 18
You can vote

Challenge 018

In [9]:
num=int(input("Enter a number: "))
if num<10:
  print("Too low")
elif num >=10 and num <=20:
  print("Correct")
else:
  print("Too high")

Enter a number: 19
Correct

Challenge 019

In [13]:
num= input("Enter 1,2 or 3 ")
if num=="1":
  print("Thank you")
elif num=="2":
  print("Well done")
elif num=="3":
  print("Correct")
else:
  print("Error message")

Enter 1,2 or 3 3
Correct