<a href="https://colab.research.google.com/github/alxbruno/python_lessons/blob/main/Colab/challenges01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Challenge 001

In [32]:
x=input("Enter username: ")
y="Hello "
print(y+x)

Enter first name and surname: Alex Bruno
Hello Alex Bruno

In [30]:
x=input("Enter username: ")
print("Hello "+x)

Enter username: zaza
Hello zaza

Challenge 002

In [37]:
x=input("What is your first name: ")
y=input("What is your surname: ")
print("Hello " + x + " " + y)

What is your first name: Alex
what is your surname: Bruno
Hello Alex Bruno

Challenge 003

In [45]:
print("What do you call a bear with no teeth \n a gummy bear!")

what do you call a bear with no teeth
 a gummy bear!

Challenge 004

I created a variable called x and had a user choose a random number and put the random number in x

I created a variable called y and had a user choose a random number and put the random number in y

In [55]:
x=int(input("Enter a number: "))
y=int(input("Enter a number: "))
print("The total is ")
print(x+y)

enter a number: 30
enter a number: 11
The total is
41

In [108]:
x=int(input("Enter a number: "))
y=int(input("Enter a number: "))
z = x+y
print("The total is\n", z)

enter a number: 4
enter a number: 5
The total is
 9

challenge 005

In [115]:
x=int(input("Enter a number: "))
y=int(input("Enter a number: "))
z=int(input("Enter a number: "))
print("The answer is")
c=(x+y)*z
print(c)

enter a number: 123
enter a number: 23
enter a number: 14
The answer is

2044

In [117]:
x=int(input("Enter a number: "))
y=int(input("Enter a number: "))
z=int(input("Enter a number: "))
c=(x+y)*z
print("The answer is\n", c)

enter a number: 3
enter a number: 2
enter a number: 2
The answer is
 10

challenge 006

In [121]:
x=int(input("How many pizza slices do you have "))
y=int(input("How many pizza slices have you eaten "))
(x-y)

how many pizza slices do you have 3
how many pizza slices have you eaten 1

2

Challenge 7

In [130]:
x=str(input("Whats your name :"))
y=int(input("How old are you :"))
print("On your next birthday you will be")
(y+1)

whats your name :Raqueline
how old are you :47
on your next birthday you will be

48

Challenge 008

In [138]:
x=int(input("Whats the total price of the bill? "))
y=int(input("How many diners are there? "))
print("This is how much each person has to pay ")
(x/y)

Whats the total price of the bill? 500
How many diners are there? 24
This is how much each person has to pay

20.833333333333332

Challenge 009

In [149]:
x=int(input("Choose a random amount of days "))
H=24
print("There are this amount of hours")
print(H*x)
M=1440
print("There are this many minutes")
print(M*x)
S=86400
print("There are this amount of seconds")
print(S*x)

Choose a random amount of days 1
There are this amount of hours
24
There are this many minutes
1440
There are this amount of seconds
86400

challenge 010

In [153]:
x=int(input("Choose a random amount of kilograms "))
K=2204
print("There are this many pounds in that amount of kilograms")
print(K*x)

Choose a random amount of kilograms 1
There are this many pounds in that amount of kilograms
2204

Challenge 011

In [156]:
x=int(input("Choose a number above 100 "))
y=int(input("Choose a number under 10 "))
print("That number under 10 goes in the number bigger than 100 this many times ")
print(x//y)

Choose a number above 100 110
Choose a number under 10 9
That number under 10 goes in the number bigger than 100 this many times
12