<a href="https://colab.research.google.com/github/alxbruno/python_lessons/blob/main/Colab/lesson_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Variables**

**Variables**
Variables are containers for storing data values.

**Creating Variables**
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
x=5
y="john"
print(x)
print(y)

5
john

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
x=4   # x is of type int
y="sally" #x is now of str
print(x)

4

**Casting**

If you want to specify the data type of a variable, this can be done with casting.

In [ ]:
x=str (3)   # x will be '3'
y=int (3)   # y will be  3
z=float(3)  # z will be  3.0

**Get the Type**

You can get the data type of a variable with the type() function.

In [ ]:
x=5
y="john"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

**Single or Double Quotes?**

String variables can be declared either by using single or double quotes:

In [ ]:
x="john"
# is the same as
x='john'

**Case-Sensitive**

Variable names are case-sensitive.

In [ ]:
a=4
A="sally"
#A will not overwrite a

**Python - Variable Names**

**variable names**
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords.

In [5]:
myvar="John"
my_var="John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

incorrect way

In [2]:
2myvar="john"
my-var = "John"
my var = "John"

SyntaxError: ignored

**Multi Words Variable Names**
Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

**Camel Case**
Each word, except the first, starts with a capital letter:

In [8]:
myVariablename="John"

**Pascal Case**

Each word starts with a capital letter:

In [9]:
MyVariableName="John"

**Snake Case**

Each word is separated by an underscore character:

In [10]:
my_variable_name="John"