<a href="https://colab.research.google.com/github/alxbruno/python_lessons/blob/main/Colab/lesson_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Variables**

**Variables**
Variables are containers for storing data values.

**Creating Variables**
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
x=5
y="john"
print(x)
print(y)

5
john

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
x=4   # x is of type int
y="sally" #x is now of str
print(x)

4

**Casting**

If you want to specify the data type of a variable, this can be done with casting.

In [ ]:
x=str (3)   # x will be '3'
y=int (3)   # y will be  3
z=float(3)  # z will be  3.0

**Get the Type**

You can get the data type of a variable with the type() function.

In [ ]:
x=5
y="john"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

**Single or Double Quotes?**

String variables can be declared either by using single or double quotes:

In [ ]:
x="john"
# is the same as
x='john'

**Case-Sensitive**

Variable names are case-sensitive.

In [ ]:
a=4
A="sally"
#A will not overwrite a

**Python - Variable Names**

**variable names**
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords.

In [ ]:
myvar="John"
my_var="John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

incorrect way

In [ ]:
2myvar="john"
my-var = "John"
my var = "John"

SyntaxError: ignored

**Multi Words Variable Names**
Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

**Camel Case**
Each word, except the first, starts with a capital letter:

In [ ]:
myVariablename="John"

**Pascal Case**

Each word starts with a capital letter:

In [ ]:
MyVariableName="John"

**Snake Case**

Each word is separated by an underscore character:

In [ ]:
my_variable_name="John"

**Python - Output Variables**

**Output Variables**

The Python print() function is often used to output variables.

In [1]:
x="python is awsome"
print(x)

python is awsome

In the print() function, you output multiple variables, separated by a comma:

In [2]:
x="python"
y="is"
z="awsome"
print(x,y,z)

python is awsome

You can also use the + operator to output multiple variables:

In [4]:
x="python "
y="is "
z="awsome "
print(x+y+z)

python is awsome

Notice the space character after "Python " and "is ", without them the result would be "Pythonisawesome".


For numbers, the + character works as a mathematical operator:

In [5]:
x=5
y=10
print(x+y)

15

In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

improper way is

In [ ]:
x=5
y="john"
print(x+y)

The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:

In [7]:
x=5
y="john"
print(x,y)

5 john