<a href="https://colab.research.google.com/github/alxbruno/python_lessons/blob/main/Colab/lesson_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Variables**

**Variables**
Variables are containers for storing data values.

**Creating Variables**
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
x=5
y="john"
print(x)
print(y)

5
john

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
x=4   # x is of type int
y="sally" #x is now of str
print(x)

4

**Casting**

If you want to specify the data type of a variable, this can be done with casting.

In [ ]:
x=str (3)   # x will be '3'
y=int (3)   # y will be  3
z=float(3)  # z will be  3.0

**Get the Type**

You can get the data type of a variable with the type() function.

In [ ]:
x=5
y="john"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

**Single or Double Quotes?**

String variables can be declared either by using single or double quotes:

In [ ]:
x="john"
# is the same as
x='john'

**Case-Sensitive**

Variable names are case-sensitive.

In [ ]:
a=4
A="sally"
#A will not overwrite a

**Python - Variable Names**

**variable names**
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords.

In [ ]:
myvar="John"
my_var="John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

incorrect way

In [ ]:
2myvar="john"
my-var = "John"
my var = "John"

SyntaxError: ignored

**Multi Words Variable Names**
Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

**Camel Case**
Each word, except the first, starts with a capital letter:

In [ ]:
myVariablename="John"

**Pascal Case**

Each word starts with a capital letter:

In [ ]:
MyVariableName="John"

**Snake Case**

Each word is separated by an underscore character:

In [ ]:
my_variable_name="John"

**Python - Output Variables**

**Output Variables**

The Python print() function is often used to output variables.

In [ ]:
x="python is awsome"
print(x)

python is awsome

In the print() function, you output multiple variables, separated by a comma:

In [ ]:
x="python"
y="is"
z="awsome"
print(x,y,z)

python is awsome

You can also use the + operator to output multiple variables:

In [ ]:
x="python "
y="is "
z="awsome "
print(x+y+z)

python is awsome

Notice the space character after "Python " and "is ", without them the result would be "Pythonisawesome".


For numbers, the + character works as a mathematical operator:

In [ ]:
x=5
y=10
print(x+y)

15

In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

improper way is

In [ ]:
x=5
y="john"
print(x+y)

The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:

In [ ]:
x=5
y="john"
print(x,y)

5 john

**Python - Global Variables**

**Global Variables**
Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [ ]:
# x is a global variable
x="awsome"


def aba():
    global y
    y = "smart"
    print("Alex is "+ x )
    #print("Alex is " + z)
    print("Alex is " + y)


aba()
print(x)



def ila():
    # z is a local variable
    z = "beatiful"
    x = "ugly"
    print("Igor is " + x)
    print(z)
    print("Igor is " + z)
    print("Igor is also " + y)


#print(z)
ila()
print(x)
print(y)

Alex is awsome
Alex is smart
awsome
Igor is ugly
beatiful
Igor is beatiful
Igor is also smart
awsome
smart

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

**The global Keyword**

Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

In [ ]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Also, use the global keyword if you want to change a global variable inside a function.

In [ ]:
x="awsome"


def myfunc():
  global x
  x="fantastic"


myfunc()

print("python is "+x)

python is fantastic

***Python Data Types***

**Built-in Data Types**

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

**Getting the Data Type**

You can get the data type of any object by using the type() function:

In [3]:
x=5
print(type(x))

<class 'int'>

**Setting the Data Type**

In Python, the data type is set when you assign a value to a variable:

Example	Data Type	Try it
x = "Hello World"	str	
x = 20	int	
x = 20.5	float	
x = 1j	complex	
x = ["apple", "banana", "cherry"]	list	
x = ("apple", "banana", "cherry")	tuple	
x = range(6)	range	
x = {"name" : "John", "age" : 36}	dict	
x = {"apple", "banana", "cherry"}	set	
x = frozenset({"apple", "banana", "cherry"})	frozenset	
x = True	bool	
x = b"Hello"	bytes	
x = bytearray(5)	bytearray	
x = memoryview(bytes(5))	memoryview	
x = None	NoneType

**Setting the Specific Data Type**

If you want to specify the data type, you can use the following constructor functions:

Example	Data Type	Try it
x = str("Hello World")	str	
x = int(20)	int	
x = float(20.5)	float	
x = complex(1j)	complex	
x = list(("apple", "banana", "cherry"))	list	
x = tuple(("apple", "banana", "cherry"))	tuple	
x = range(6)	range	
x = dict(name="John", age=36)	dict	
x = set(("apple", "banana", "cherry"))	set	
x = frozenset(("apple", "banana", "cherry"))	frozenset	
x = bool(5)	bool	
x = bytes(5)	bytes	
x = bytearray(5)	bytearray	
x = memoryview(bytes(5))	memoryview

**Python Numbers**

**Python Numbers**

There are three numeric types in Python:

int
float
complex
Variables of numeric types are created when you assign a value to them:

In [4]:
x=1 #int
y=2.8 #float
z=1j #complex

To verify the type of any object in Python, use the type() function:

In [ ]:
print(type(x))
print(type(y))
print(type(z))

**Int**

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [5]:
x=1
y=35656222554887711
z=-3255522


print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

**Float**

Float, or "floating point number" is a number, positive or negative, containing one or more decimals

In [10]:
x=1.10
y=1.0
z=35.59


print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [6]:
x=35e3
y=12e4
z=-87.7e100


print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

**Complex**

Complex numbers are written with a "j" as the imaginary part:

In [8]:
x=3+5j
y=5j
z=-5j


print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

**Type Conversion**
You can convert from one type to another with the int(), float(), and complex() methods:

In [ ]:
x=1 #int
y=2.8 #float
z=1j #complex


#convert from int to float:
a=float(x)


#convert from float to int:
b=int(y)


#convert from in to complex:
c=complex(x)


print(a)
print(b)
print(c)


print(type(a))
print(type(b))
print(type(c))

**Random Number**

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [13]:
#import random


print(random.randrange(1,10))

9