<a href="https://colab.research.google.com/github/alxbruno/python_lessons/blob/main/Colab/lesson_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Variables**

**Variables**
Variables are containers for storing data values.

**Creating Variables**
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
x=5
y="john"
print(x)
print(y)

5
john

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
x=4   # x is of type int
y="sally" #x is now of str
print(x)

4

**Casting**

If you want to specify the data type of a variable, this can be done with casting.

In [ ]:
x=str (3)   # x will be '3'
y=int (3)   # y will be  3
z=float(3)  # z will be  3.0

**Get the Type**

You can get the data type of a variable with the type() function.

In [ ]:
x=5
y="john"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

**Single or Double Quotes?**

String variables can be declared either by using single or double quotes:

In [ ]:
x="john"
# is the same as
x='john'

**Case-Sensitive**

Variable names are case-sensitive.

In [ ]:
a=4
A="sally"
#A will not overwrite a

**Python - Variable Names**

**variable names**
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords.

In [ ]:
myvar="John"
my_var="John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

incorrect way

In [ ]:
2myvar="john"
my-var = "John"
my var = "John"

SyntaxError: ignored

**Multi Words Variable Names**
Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

**Camel Case**
Each word, except the first, starts with a capital letter:

In [ ]:
myVariablename="John"

**Pascal Case**

Each word starts with a capital letter:

In [ ]:
MyVariableName="John"

**Snake Case**

Each word is separated by an underscore character:

In [ ]:
my_variable_name="John"

**Python - Output Variables**

**Output Variables**

The Python print() function is often used to output variables.

In [ ]:
x="python is awsome"
print(x)

python is awsome

In the print() function, you output multiple variables, separated by a comma:

In [ ]:
x="python"
y="is"
z="awsome"
print(x,y,z)

python is awsome

You can also use the + operator to output multiple variables:

In [ ]:
x="python "
y="is "
z="awsome "
print(x+y+z)

python is awsome

Notice the space character after "Python " and "is ", without them the result would be "Pythonisawesome".


For numbers, the + character works as a mathematical operator:

In [ ]:
x=5
y=10
print(x+y)

15

In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

improper way is

In [ ]:
x=5
y="john"
print(x+y)

The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:

In [ ]:
x=5
y="john"
print(x,y)

5 john

**Python - Global Variables**

**Global Variables**
Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [ ]:
# x is a global variable
x="awsome"


def aba():
    global y
    y = "smart"
    print("Alex is "+ x )
    #print("Alex is " + z)
    print("Alex is " + y)


aba()
print(x)



def ila():
    # z is a local variable
    z = "beatiful"
    x = "ugly"
    print("Igor is " + x)
    print(z)
    print("Igor is " + z)
    print("Igor is also " + y)


#print(z)
ila()
print(x)
print(y)

Alex is awsome
Alex is smart
awsome
Igor is ugly
beatiful
Igor is beatiful
Igor is also smart
awsome
smart

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

**The global Keyword**

Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

In [ ]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Also, use the global keyword if you want to change a global variable inside a function.

In [ ]:
x="awsome"


def myfunc():
  global x
  x="fantastic"


myfunc()

print("python is "+x)

python is fantastic

***Python Data Types***

**Built-in Data Types**

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

**Getting the Data Type**

You can get the data type of any object by using the type() function:

In [ ]:
x=5
print(type(x))

<class 'int'>

**Setting the Data Type**

In Python, the data type is set when you assign a value to a variable:

Example	Data Type	Try it
x = "Hello World"	str	
x = 20	int	
x = 20.5	float	
x = 1j	complex	
x = ["apple", "banana", "cherry"]	list	
x = ("apple", "banana", "cherry")	tuple	
x = range(6)	range	
x = {"name" : "John", "age" : 36}	dict	
x = {"apple", "banana", "cherry"}	set	
x = frozenset({"apple", "banana", "cherry"})	frozenset	
x = True	bool	
x = b"Hello"	bytes	
x = bytearray(5)	bytearray	
x = memoryview(bytes(5))	memoryview	
x = None	NoneType

**Setting the Specific Data Type**

If you want to specify the data type, you can use the following constructor functions:

Example	Data Type	Try it
x = str("Hello World")	str	
x = int(20)	int	
x = float(20.5)	float	
x = complex(1j)	complex	
x = list(("apple", "banana", "cherry"))	list	
x = tuple(("apple", "banana", "cherry"))	tuple	
x = range(6)	range	
x = dict(name="John", age=36)	dict	
x = set(("apple", "banana", "cherry"))	set	
x = frozenset(("apple", "banana", "cherry"))	frozenset	
x = bool(5)	bool	
x = bytes(5)	bytes	
x = bytearray(5)	bytearray	
x = memoryview(bytes(5))	memoryview

**Python Numbers**

**Python Numbers**

There are three numeric types in Python:

int
float
complex
Variables of numeric types are created when you assign a value to them:

In [ ]:
x=1 #int
y=2.8 #float
z=1j #complex

To verify the type of any object in Python, use the type() function:

In [ ]:
print(type(x))
print(type(y))
print(type(z))

**Int**

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [ ]:
x=1
y=35656222554887711
z=-3255522


print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

**Float**

Float, or "floating point number" is a number, positive or negative, containing one or more decimals

In [ ]:
x=1.10
y=1.0
z=35.59


print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [ ]:
x=35e3
y=12e4
z=-87.7e100


print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

**Complex**

Complex numbers are written with a "j" as the imaginary part:

In [ ]:
x=3+5j
y=5j
z=-5j


print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

**Type Conversion**
You can convert from one type to another with the int(), float(), and complex() methods:

In [ ]:
x=1 #int
y=2.8 #float
z=1j #complex


#convert from int to float:
a=float(x)


#convert from float to int:
b=int(y)


#convert from in to complex:
c=complex(x)


print(a)
print(b)
print(c)


print(type(a))
print(type(b))
print(type(c))

**Random Number**

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [ ]:
import random as rd

#print(randrange(1,10))
print(rd.randrange (1,10))
print(random.randrange(1,10))

6
5

**Python Casting**

**Specify a Variable Type**

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [4]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [3]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [2]:
x = str("s1") #x will be 's1'
y=str(2)      #y will be '2'
z=str(3.0)    #z will be '3.0'

**Python Strings**

**Strings**
Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [5]:
print("hello")
print('hello')

hello
hello

**Assign String to a Variable**

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [6]:
a="hello"
print(a)

hello

**Multiline Strings**

You can assign a multiline string to a variable by using three quotes:

In [8]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Or three single quotes:

In [7]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

**Note:** in the result, the line breaks are inserted at the same position as in the code.

**Strings are Arrays**

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [9]:
a="hello, world!"
print(a[1])

e

**Looping Through a String**

Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [11]:
for x in "banana":
  print(x)

b
a
n
a
n
a

**String Length**

To get the length of a string, use the len() function.

In [12]:
a="hello, world"
print(len(a))

12

**Check String**

To check if a certain phrase or character is present in a string, we can use the keyword in.

In [13]:
txt="the best things in life are free"
print("free" in txt)

True

Use it in an if statement:

In [14]:
txt="the best things in life are free!"
if "free" in txt:
  print("yes, 'free' is present.")

yes, 'free' is present.

**Check if NOT**

To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [15]:
txt="the best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

**Python - Slicing Strings**

**Slicing**

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [22]:
b="hello, world!"
print(b[2:5])

llo

**Slice From the Start**

By leaving out the start index, the range will start at the first character:

In [23]:
b = "Hello, World!"
print(b[:5])

Hello

**Slice To the End**

By leaving out the end index, the range will go to the end:

**Negative Indexing**

Use negative indexes to start the slice from the end of the string:

In [24]:
b = "Hello, World!"
print(b[-5:-2])

orl

**Python - Modify Strings**

**Upper Case**

In [25]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

**Lower Case**

In [26]:
a = "Hello, World!"
print(a.lower())

hello, world!

**Remove Whitespace**

Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

In [27]:
a = " Hello, World! "
print(a.strip()) #returns "Hello, World!"

Hello, World!

**Replace String**

In [28]:
a = "Hello, World!"
print(a.replace("H","J"))

Jello, World!

**Split String**

The split() method returns a list where the text between the specified separator becomes the list items.

In [29]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

Python - String Concatenation

**String Concatenation**

To concatenate, or combine, two strings you can use the + operator.

In [30]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [31]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

**Python - Format - Strings**

**String Format**

As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [32]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: ignored

But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [33]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [34]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

In [36]:
quantity=3
itemno=567
price=49.95
myorder="I want to pay {2} dolars for {0} pieces of item {1}"
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dolars for 3 pieces of item 567

**Python - Escape Characters**

**Escape Character**

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [37]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: ignored

To fix this problem, use the escape character \":

In [38]:
txt="we are the so called \"Vikings\"from the north."

Code	Result
\'	Single Quote	
\\	Backslash	
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
\ooo	Octal value	
\xhh	Hex value

**Python - String Methods**

**String Methods**

Python has a set of built-in methods that you can use on strings.

Note: All string methods return new values. They do not change the original string.

Method	Description
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning