<a href="https://colab.research.google.com/github/alxbruno/python_lessons/blob/main/Colab/lesson_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Variables**

**Variables**
Variables are containers for storing data values.

**Creating Variables**
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

I created a variable called x and I put 5 in x

In [ ]:
x=5
y="john"
print(x)
print(y)

5
john

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
x=4   # x is of type int
y="sally" #x is now of str
print(x)

4

**Casting**

If you want to specify the data type of a variable, this can be done with casting.

In [ ]:
x=str (3)   # x will be '3'
y=int (3)   # y will be  3
z=float(3)  # z will be  3.0

**Get the Type**

You can get the data type of a variable with the type() function.

In [ ]:
x=5
y="john"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

**Single or Double Quotes?**

String variables can be declared either by using single or double quotes:

In [ ]:
x="john"
# is the same as
x='john'

**Case-Sensitive**

Variable names are case-sensitive.

In [ ]:
a=4
A="sally"
#A will not overwrite a

**Python - Variable Names**

**variable names**
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords.

In [ ]:
myvar="John"
my_var="John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

incorrect way

In [ ]:
2myvar="john"
my-var = "John"
my var = "John"

SyntaxError: ignored

**Multi Words Variable Names**
Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

**Camel Case**
Each word, except the first, starts with a capital letter:

In [ ]:
myVariablename="John"

**Pascal Case**

Each word starts with a capital letter:

In [ ]:
MyVariableName="John"

**Snake Case**

Each word is separated by an underscore character:

In [ ]:
my_variable_name="John"

**Python - Output Variables**

**Output Variables**

The Python print() function is often used to output variables.

In [ ]:
x="python is awsome"
print(x)

python is awsome

In the print() function, you output multiple variables, separated by a comma:

In [ ]:
x="python"
y="is"
z="awsome"
print(x,y,z)

python is awsome

You can also use the + operator to output multiple variables:

In [ ]:
x="python "
y="is "
z="awsome "
print(x+y+z)

python is awsome

Notice the space character after "Python " and "is ", without them the result would be "Pythonisawesome".


For numbers, the + character works as a mathematical operator:

In [ ]:
x=5
y=10
print(x+y)

15

In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

improper way is

In [ ]:
x=5
y="john"
print(x+y)

The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:

In [ ]:
x=5
y="john"
print(x,y)

5 john

**Python - Global Variables**

**Global Variables**
Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [ ]:
# x is a global variable
x="awsome"


def aba():
    global y
    y = "smart"
    print("Alex is "+ x )
    #print("Alex is " + z)
    print("Alex is " + y)


aba()
print(x)



def ila():
    # z is a local variable
    z = "beatiful"
    x = "ugly"
    print("Igor is " + x)
    print(z)
    print("Igor is " + z)
    print("Igor is also " + y)


#print(z)
ila()
print(x)
print(y)

Alex is awsome
Alex is smart
awsome
Igor is ugly
beatiful
Igor is beatiful
Igor is also smart
awsome
smart

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

**The global Keyword**

Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

In [ ]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Also, use the global keyword if you want to change a global variable inside a function.

In [ ]:
x="awsome"


def myfunc():
  global x
  x="fantastic"


myfunc()

print("python is "+x)

python is fantastic

***Python Data Types***

**Built-in Data Types**

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

**Getting the Data Type**

You can get the data type of any object by using the type() function:

In [ ]:
x=5
print(type(x))

<class 'int'>

**Setting the Data Type**

In Python, the data type is set when you assign a value to a variable:

Example	Data Type	Try it
x = "Hello World"	str
x = 20	int
x = 20.5	float
x = 1j	complex
x = ["apple", "banana", "cherry"]	list
x = ("apple", "banana", "cherry")	tuple
x = range(6)	range
x = {"name" : "John", "age" : 36}	dict
x = {"apple", "banana", "cherry"}	set
x = frozenset({"apple", "banana", "cherry"})	frozenset
x = True	bool
x = b"Hello"	bytes
x = bytearray(5)	bytearray
x = memoryview(bytes(5))	memoryview
x = None	NoneType

**Setting the Specific Data Type**

If you want to specify the data type, you can use the following constructor functions:

Example	Data Type	Try it
x = str("Hello World")	str
x = int(20)	int
x = float(20.5)	float
x = complex(1j)	complex
x = list(("apple", "banana", "cherry"))	list
x = tuple(("apple", "banana", "cherry"))	tuple
x = range(6)	range
x = dict(name="John", age=36)	dict
x = set(("apple", "banana", "cherry"))	set
x = frozenset(("apple", "banana", "cherry"))	frozenset
x = bool(5)	bool
x = bytes(5)	bytes
x = bytearray(5)	bytearray
x = memoryview(bytes(5))	memoryview

**Python Numbers**

**Python Numbers**

There are three numeric types in Python:

int
float
complex
Variables of numeric types are created when you assign a value to them:

In [ ]:
x=1 #int
y=2.8 #float
z=1j #complex

To verify the type of any object in Python, use the type() function:

In [ ]:
print(type(x))
print(type(y))
print(type(z))

**Int**

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [ ]:
x=1
y=35656222554887711
z=-3255522


print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

**Float**

Float, or "floating point number" is a number, positive or negative, containing one or more decimals

In [ ]:
x=1.10
y=1.0
z=35.59


print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [ ]:
x=35e3
y=12e4
z=-87.7e100


print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

**Complex**

Complex numbers are written with a "j" as the imaginary part:

In [ ]:
x=3+5j
y=5j
z=-5j


print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

**Type Conversion**
You can convert from one type to another with the int(), float(), and complex() methods:

In [ ]:
x=1 #int
y=2.8 #float
z=1j #complex


#convert from int to float:
a=float(x)


#convert from float to int:
b=int(y)


#convert from in to complex:
c=complex(x)


print(a)
print(b)
print(c)


print(type(a))
print(type(b))
print(type(c))

**Random Number**

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [ ]:
import random as rd

#print(randrange(1,10))
print(rd.randrange (1,10))
print(random.randrange(1,10))

6
5

**Python Casting**

**Specify a Variable Type**

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [ ]:
x = str("s1") #x will be 's1'
y=str(2)      #y will be '2'
z=str(3.0)    #z will be '3.0'

**Python Strings**

**Strings**
Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [ ]:
print("hello")
print('hello')

hello
hello

**Assign String to a Variable**

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [ ]:
a="hello"
print(a)

hello

**Multiline Strings**

You can assign a multiline string to a variable by using three quotes:

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Or three single quotes:

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

**Note:** in the result, the line breaks are inserted at the same position as in the code.

**Strings are Arrays**

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [ ]:
a="hello, world!"
print(a[1])

e

**Looping Through a String**

Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

**String Length**

To get the length of a string, use the len() function.

In [ ]:
a="hello, world"
print(len(a))

12

**Check String**

To check if a certain phrase or character is present in a string, we can use the keyword in.

In [ ]:
txt="the best things in life are free"
print("free" in txt)

True

Use it in an if statement:

In [ ]:
txt="the best things in life are free!"
if "free" in txt:
  print("yes, 'free' is present.")

yes, 'free' is present.

**Check if NOT**

To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [ ]:
txt="the best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

**Python - Slicing Strings**

**Slicing**

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [ ]:
b="hello, world!"
print(b[2:5])

llo

**Slice From the Start**

By leaving out the start index, the range will start at the first character:

In [ ]:
b = "Hello, World!"
print(b[:5])

Hello

**Slice To the End**

By leaving out the end index, the range will go to the end:

**Negative Indexing**

Use negative indexes to start the slice from the end of the string:

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

**Python - Modify Strings**

**Upper Case**

In [ ]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

**Lower Case**

In [ ]:
a = "Hello, World!"
print(a.lower())

hello, world!

**Remove Whitespace**

Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

In [ ]:
a = " Hello, World! "
print(a.strip()) #returns "Hello, World!"

Hello, World!

**Replace String**

In [ ]:
a = "Hello, World!"
print(a.replace("H","J"))

Jello, World!

**Split String**

The split() method returns a list where the text between the specified separator becomes the list items.

In [ ]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

Python - String Concatenation

**String Concatenation**

To concatenate, or combine, two strings you can use the + operator.

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

**Python - Format - Strings**

**String Format**

As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [ ]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: ignored

But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

In [ ]:
quantity=3
itemno=567
price=49.95
myorder="I want to pay {2} dolars for {0} pieces of item {1}"
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dolars for 3 pieces of item 567

**Python - Escape Characters**

**Escape Character**

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [ ]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: ignored

To fix this problem, use the escape character \":

In [ ]:
txt="we are the so called \"Vikings\"from the north."

Code	Result
\'	Single Quote
\\	Backslash
\n	New Line
\r	Carriage Return
\t	Tab
\b	Backspace
\f	Form Feed
\ooo	Octal value
\xhh	Hex value

**Python - String Methods**

**String Methods**

Python has a set of built-in methods that you can use on strings.

Note: All string methods return new values. They do not change the original string.

Method	Description
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning

**Python Booleans**

**Boolean Values**
In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [ ]:
print(10>9)
print(10==9)
print(10<9)

True
False
False

When you run a condition in an if statement, Python returns True or False:

In [ ]:
a=200
b=33
if b>a:
  print("b is greater than a")
else:
  print("b is not greater than a")

**Evaluate Values and Variables**
The bool() function allows you to evaluate any value, and give you True or False in return,

In [ ]:
print(bool("Hello"))
print(bool(15))

In [ ]:
x="hello"
y=15

print(bool(x))
print(bool(y))

True
True

**Most Values are True**
Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [ ]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

**Some Values are False**
In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

In [ ]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

One more value, or object in this case, evaluates to False, and that is if you have an object that is made from a class with a __len__ function that returns 0 or False:

In [ ]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

**Functions can Return a Boolean**
You can create functions that returns a Boolean Value:

In [ ]:
def myFunction():
  return True


print(myFunction())

True

You can execute code based on the Boolean answer of a function:

In [ ]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

Python also has many built-in functions that return a boolean value, like the isinstance() function, which can be used to determine if an object is of a certain data type:

In [ ]:
x = 200
print(isinstance(x, int))

**Python Operators**

**Python Operators**
Operators are used to perform operations on variables and values.

In the example below, we use the + operator to add together two values:

In [ ]:
print(10+5)

15

Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

**Python Arithmetic Operators**
Arithmetic operators are used with numeric values to perform common mathematical operations:

Operator	Name	Example
+	Addition	x + y
-	Subtraction	x - y
*	Multiplication	x * y
/	Division	x / y
%	Modulus	x % y
**	Exponentiation	x ** y
//	Floor division	x // y

**Python Assignment Operators**
Assignment operators are used to assign values to variables:

Operator	Example	Same As
=	x = 5	x = 5
+=	x += 3	x = x + 3
-=	x -= 3	x = x - 3
*=	x *= 3	x = x * 3
/=	x /= 3	x = x / 3
%=	x %= 3	x = x % 3
//=	x //= 3	x = x // 3
**=	x **= 3	x = x ** 3
&=	x &= 3	x = x & 3
|=	x |= 3	x = x | 3
^=	x ^= 3	x = x ^ 3
>>=	x >>= 3	x = x >> 3
<<=	x <<= 3	x = x << 3

**Python Comparison Operators**
Comparison operators are used to compare two values:

Operator	Name	Example	Try it
==	Equal	x == y
!=	Not equal	x != y
>	Greater than	x > y
<	Less than	x < y
>=	Greater than or equal to	x >= y
<=	Less than or equal to	x <= y

**Python Logical Operators**
Logical operators are used to combine conditional statements:

Operator	Description	Example
and 	Returns True if both statements are true	x < 5 and  x < 10
or	Returns True if one of the statements is true	x < 5 or x < 4
not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)

**Python Identity Operators**
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

Operator	Description	Example
is 	Returns True if both variables are the same object	x is y
is not	Returns True if both variables are not the same object	x is not y

**Python Membership Operators**
Membership operators are used to test if a sequence is presented in an object:

Operator	Description	Example
in 	Returns True if a sequence with the specified value is present in the object	x in y
not in	Returns True if a sequence with the specified value is not present in the object	x not in y

Python Bitwise Operators
Bitwise operators are used to compare (binary) numbers:

Operator	Name	Description	Example
& 	AND	Sets each bit to 1 if both bits are 1	x & y
|	OR	Sets each bit to 1 if one of two bits is 1	x | y
^	XOR	Sets each bit to 1 if only one of two bits is 1	x ^ y
~	NOT	Inverts all the bits	~x
<<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off	x << 2
>>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off	x >> 2

**Operator Precedence**
Operator precedence describes the order in which operations are performed.

In [ ]:
print((6 + 3) - (6 + 3))

0

In [ ]:
print(100+5*3)

115

The precedence order is described in the table below, starting with the highest precedence at the top:

Operator	Description
()	Parentheses
**	Exponentiation
+x  -x  ~x	Unary plus, unary minus, and bitwise NOT
*  /  //  %	Multiplication, division, floor division, and modulus
+  -	Addition and subtraction
<<  >>	Bitwise left and right shifts
&	Bitwise AND
^	Bitwise XOR
|	Bitwise OR
==  !=  >  >=  <  <=  is  is not  in  not in 	Comparisons, identity, and membership operators
not	Logical NOT
and	AND
or	OR
If two operators have the same precedence, the expression is evaluated from left to right.

In [ ]:
print(5+4-7+3)

5

**Python Booleans**

**Boolean Values**

In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

When you run a condition in an if statement, Python returns True or False

In [ ]:
a=200
b=33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

**Evaluate Values and Variables**

The bool() function allows you to evaluate any value, and give you True or False in return,

In [ ]:
print(bool("hello"))
print(bool(15))

True
True

In [ ]:
x="hello"
y=15


print(bool(x))
print(bool(y))

True
True

**Most Values are True**

Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [ ]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

**Some Values are False**
In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

In [ ]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

One more value, or object in this case, evaluates to False, and that is if you have an object that is made from a class with a __len__ function that returns 0 or False:

In [ ]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

Functions can Return a Boolean
You can create functions that returns a Boolean Value:

In [ ]:
def myFunction() :
  return True


print(myFunction())

True

You can execute code based on the Boolean answer of a function:

In [ ]:
def myFunction() :
  return True


if myFunction() :
  print("YES!")
else:
  print("NO!")

YES!

Python also has many built-in functions that return a boolean value, like the isinstance() function, which can be used to determine if an object is of a certain data type:

In [ ]:
x=200
print(isinstance(x,int))

True

**Python If ... Else**

**Python Conditions and If statements**

Python supports the usual logical conditions from mathematics:

Equals: a == b
Not Equals: a != b
Less than: a < b
Less than or equal to: a <= b
Greater than: a > b
Greater than or equal to: a >= b
These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

In [ ]:
a=33
b=200
if b>a:
  print("b is greater than a")

b is greater than a

In this example we use two variables, a and b, which are used as part of the if statement to test whether b is greater than a. As a is 33, and b is 200, we know that 200 is greater than 33, and so we print to screen that "b is greater than a".

**Indentation**

Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

In [ ]:
a=33
b=200
if b>a:
print("b is greater than a") #there will be an error

IndentationError: ignored

**Elif**

The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a=33
b=33

if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal")

a and b are equal

In this example a is equal to b, so the first condition is not true, but the elif condition is true, so we print to screen that "a and b are equal".

**Else**

The else keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a=200
b=33
if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In this example a is greater than b, so the first condition is not true, also the elif condition is not true, so we go to the else condition and print to screen that "a is greater than b".

You can also have an else without the elif:

In [ ]:
a=200
b=33
if b>a:
  print("b is greater than a")
else:
  print("b is not greater than a")

**Short Hand If**

If you have only one statement to execute, you can put it on the same line as the if statement.

In [ ]:
if a>b: print("a is greater than b")

a is greater than b

***Short Hand If ... Else***

If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:

In [ ]:
a=2
b=330
print("A") if a>b else print("B")

B

This technique is known as Ternary Operators, or Conditional Expressions.

You can also have multiple else statements on the same line:

In [ ]:
a=330
b=330
print("A") if a>b else print("=") if a==b else print("B")

=

**And**

The and keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
a=200
b=33
c=500
if a>b and a>c:
  print("both conditions are true")

**Or**
The or keyword is a logical operator, and is used to combine conditional statements.

In [ ]:
a=200
b=33
c=500
if a>b or a>c:
  print("at least one of the conditions is true")

at least one of the conditions are true

**Not**

The not keyword is a logical operator, and is used to reverse the result of the conditional statement:

In [ ]:
a=33
b=200
if not a>b:
  print("a is Not greater than b")

a is Not greater than b

**Nested If**
You can have if statements inside if statements, this is called nested if statements.

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

**The pass Statement**
if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [ ]:
a = 33
b = 200

if b > a:
  pass

**Python Functions**

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

**Creating a Function**
In Python a function is defined using the def keyword:

In [ ]:
def my_function():
  print("Hello from a function")

**Calling a Function**
To call a function, use the function name followed by parenthesis:

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

**Arguments**
Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

Arguments are often shortened to args in Python documentations.

**Parameters or Arguments?**
The terms parameter and argument can be used for the same thing: information that are passed into a function.

From a function's perspective:

A parameter is the variable listed inside the parentheses in the function definition.

An argument is the value that is sent to the function when it is called.

**Number of Arguments**
By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

If you try to call the function with 1 or 3 arguments, you will get an error:

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil")

TypeError: ignored

Arbitrary Arguments, *args **bold text**
If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

Arbitrary Arguments are often shortened to *args in Python documentations.

**Keyword Arguments**
You can also send arguments with the key = value syntax.

This way the order of the arguments does not matter.

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The phrase Keyword Arguments are often shortened to kwargs in Python documentations.

**Arbitrary Keyword Arguments,** **kwargs
If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

This way the function will receive a dictionary of arguments, and can access the items accordingly:

In [ ]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

Arbitrary Kword Arguments are often shortened to **kwargs in Python documentations.

**Default Parameter Value**
The following example shows how to use a default parameter value.

If we call the function without argument, it uses the default value:

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

**Passing a List as an Argument**
You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a List as an argument, it will still be a List when it reaches the function:

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

**Return Values**
To let a function return a value, use the return statement:

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

**The pass Statement**
function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error.

In [ ]:
def myfunction():
  pass

**Recursion**
Python also accepts function recursion, which means a defined function can call itself.

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

The developer should be very careful with recursion as it can be quite easy to slip into writing a function which never terminates, or one that uses excess amounts of memory or processor power. However, when written correctly recursion can be a very efficient and mathematically-elegant approach to programming.

In this example, tri_recursion() is a function that we have defined to call itself ("recurse"). We use the k variable as the data, which decrements (-1) every time we recurse. The recursion ends when the condition is not greater than 0 (i.e. when it is 0).

To a new developer it can take some time to work out how exactly this works, best way to find out is by testing and modifying it.

In [ ]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

**Python Lambda**

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

Syntax
lambda arguments : expression
The expression is executed and the result is returned: